.container
{
	margin:auto;
	background-color: #e28b49;
	text-align:center;

}

/*ADD FIELD BUTTON */
a,button{text-decoration:none;color:#fff;font-weight:bold;}
.add-field{
 padding:15px;
 font-family:tahoma;
 background-color:#F57900;
 width:140px;
 text-align:center;
 text-shadow:1px 1px #F57900;
 border-bottom:5px solid #C86504;
 display: block;
 margin:auto;
 clear: both;
}

/*--------------------------------------------------------------------------------------*/
.submit
{
	padding:15px;
 font-family:tahoma;
 background-color:#122c91;
 width:140px;
 text-align:center;
 text-shadow:1px 1px #4a6ae2;
 border-bottom:5px solid #4a6ae2;
 display: block;
 margin:auto;
 clear: both;
}

/*------------------------------------------------------------------------------------*/


.dropdown , .list
{
	background-color: #122c91;
}

/*------------------------------------------------------------------------------------*/

.question
{
	border-bottom: 1px solid white ; 
	border-left: 
}